a{
    text-decoration: dotted underline black;
    color:rgb(0, 40, 75);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}

body {
    background-color: rgb(50, 0, 64);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 20px;
}

div {
    border: 2px solid #420043;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(243, 200, 255);
    color: black;
}

h1{
    font-size:30px;
    text-align: center;
    padding: 10px;
}

p{
    font-size:16px;
    padding:20px;
}

.site-title {
    font-size: 45px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    top:0;
    left:0;
    right:0;
    text-align: center;
    color:white;
}

#links {
    font-size: 20px;
    font-weight: bold;
    text-decoration: dotted 10px;
    color:black;
}

.top-nav {
    background-color: #ffffff;
    z-index: 100;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    color:black;
    margin: 20px;
}

#pink {
    color: rgb(101, 0, 51);
    font-size: 25px;
}

#video {
    text-align: center;
    justify-content: center; 
    align-items: center;    
}